<!DOCTYPE html>
{% load static %}
<html lang="cs">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Profil uživatele</title>
  <link rel="stylesheet" href="{% static 'profile.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mozilla+Text:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
 <!-- ✅ Hamburger ikona -->
 <button class="hamburger" id="hamburger">☰</button>

 <!-- ✅ Sidebar -->
 <aside class="sidebar" id="sidebar">
   <button class="close-btn" id="closeBtn">✖</button>
   <img src="{% static 'images/Logo bez textu.png' %}" alt="">
   <nav class="nav-links">
     <a href="{% url 'profile' %}"><button class="nav-btn">Profil</button></a>
     <a href="{% url 'chat' %}"><button class="nav-btn">Chat</button></a>
     <a href="{% url 'my_day' %}"><button class="nav-btn">Můj den</button></a>
   </nav>
   <a href="{% url 'logout' %}" style="width: 100%;"><button class="logout-btn">Odhlásit se</button></a>
 </aside>

  <!-- ✅ Main Content -->
  <main class="profile">
    <h1 class="username">{{jmeno}}</h1>
    <a href="{% url 'edit' %}"><button class="edit-btn">Upravit parametry</button></a>

    <!-- ✅ Denní hodnoty -->
    <section class="stats">
      <h2>Informace</h2>
      <ul>
        <li>Jméno: <span>{{jmeno}}</span></li>
        <li>Věk: <span>{{vek}}</span></li>
        <li>Výška: <span>{{vyska}} cm</span></li>
        <li>Váha: <span>{{akt_vaha}} kg</span></li>
        <li>Pohlaví: <span>{{pohlavi}}</span></li>
        <li>Aktivita: <span>{{aktivita}}</span></li>
        <li>Zdravotní omezení: <span>{{zdravotni_omezeni}}</span></li>
        <li>Dieta: <span>{{dieta}}</span></li>


      </ul>
    </section>

    <!-- ✅ Cíle -->
    <section class="goals">
      <h2>Cíle</h2>
      <p>Cílová váha: <span>{{cil_vaha}} kg</span></p>
      <p>Celkový cíl: <span>{{cil}}</span></p>
    </section>

  
  </main>
  <script src="{% static 'chat.js' %}"></script>
</body>
</html>